.menuToggle {
    position: fixed;
    top:6px;
    left: 10px;
    margin: 0 15px;
    font-size: 30px;
    cursor: pointer;
    color: #fff;
    transition: opacity, left .22s ease-in;
    z-index: 100;
}

.menuToggle:hover {
    opacity: .7;
}

.menuToggle.open {
    left: 290px;
}